---
---

<!DOCTYPE html>
<html lang="en">

<head>  
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-42TT9P7ZWV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-42TT9P7ZWV');
  </script>

  <title>ChatGPT for Maya</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=JetBrains+Mono&family=Montserrat:wght@800&family=Sofia+Sans:wght@900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/styles.css" />
  {% seo %}
</head>

<body>
  {% include header.html %}
  <main>
    <section id="intro">
    <div class="container">
      <div class="row flex-lg-row-reverse align-items-center justify-content-between g-5 py-lg-5">
        <div class="col col-lg-5">
          <img src="assets/img/screenshot_001.png" id="intro-screenshot" class="rounded mx-auto d-block img-fluid"
            alt="Screenshot of ChatGPT for Maya" loading="lazy" />
        </div>
        <div class="col-lg-6">
          
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
            Tap into the power of ChatGPT without leaving Maya
          </h1>
          <p class="lead">
            Take your Autodesk Maya workflow to the next level with ChatGPT. 
            This innovative tool provides quick and efficient assistance in brainstorming, problem-solving and technical tasks, helping you create stunning masterpieces with ease.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="https://github.com/thejoltjoker/ChatGPTforMaya/archive/refs/heads/master.zip">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fs-6">
                Download
              </button>
            </a>
            <a href="https://github.com/thejoltjoker/ChatGPTforMaya">
              <button type="button" class="btn btn-light-gray btn-lg px-4 fs-6">
                <i class="fa-brands fa-github"></i> View on Github
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
    {% include features.html %}
    {% include download.html %}
    {% include author.html %}
  </main>

  {% include footer.html %}

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"></script>
</body>

</html>