<div class="container py-5">
    <div class="row my-4 my-lg-5 px-4 px-lg-0 justify-content-center">
        <div class="col col-lg-10 col-xl-8 py-5 d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start bg-blue rounded-4">
            <div class="mb-4 mb-xl-0">
                <h3 class="fs-3 fw-bold text-white">
                    I'm available for work!
                </h3>
                <div class="text-white-60">
                    Need a hand with 3D, pipeline development or design? Get in touch!
                </div>
            </div>
            
        
        <div class="ms-xl-4">
                <a href="https://linkedin.com/in/thejoltjoker">
                    <button type="button" class="btn btn-light text-dark btn-lg fs-6">
                        <i class="fa-brands fa-linkedin"></i> Connect on Linkedin
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!-- <aside class="bg-dark rounded-3 p-4 p-sm-5 mt-5">
        <div
            class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
            <div class="mb-4 mb-xl-0">
                <h3 class="fs-3 fw-bold text-white">
                    I'm available for work!
                </h3>
                <div class="text-white-50">
                    Need a hand with 3D, pipeline development or design? Don't hesitate to get in touch!
                </div>
            </div>
            <div class="ms-xl-4">
                <a href="https://linkedin.com/in/thejoltjoker">
                    <button type="button" class="btn btn-blue text-light btn-lg px-4 fs-6">
                        <i class="fa-brands fa-linkedin"></i> Connect on Linkedin
                    </button>
                </a>
            </div>
        </div>
    </aside> -->
</div>