<div class="container">
    <footer class="d-flex flex-wrap justify-content-between py-4 my-4 border-top border-dark">
        <div class="col d-flex">
            <span class="text-body-secondary">
                © 2023 Probably Outside
            </span>
        </div>
        <div class="col d-flex justify-content-center">
            <ul class="nav">
                <li class="nav-item">
                    <a href="https://spdx.org/licenses/BSD-3-Clause.html" class="nav-link px-2 py-0">License</a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/thejoltjoker/ChatGPTforMaya#disclaimer" class="nav-link px-2 py-0">Disclaimer</a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/thejoltjoker/ChatGPTforMaya" class="nav-link px-2 py-0">Github</a>
                </li>
            </ul>
        </div>
        <ul class="nav col justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-light" href="https://linkedin.com/in/thejoltjoker"><i class="fab fa-linkedin"></i></a>
            </li>
            <li class="ms-3">
                <a class="text-light" href="https://github.com/thejoltjoker"><i class="fab fa-github"></i></a>
            </li>
            <li class="ms-3">
                <a class="text-light" href="https://instagram.com/thejoltjoker"><i class="fab fa-instagram"></i></a>
            </li>
            
        </ul>
    </footer>
</div>