<div class="container">
    <header class="d-flex flex-wrap justify-content-center align-items-center py-3 my-md-4 my-lg-0">
        <a href="/" class="d-flex align-items-center me-md-auto link-body-emphasis text-decoration-none">
            <span class="text-light fs-4 my-2 font-sofia">ChatGPT for Maya</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="#features" class="nav-link">Features</a>
            </li>

            <li class="nav-item">
                <a href="#download" class="nav-link">Download</a>
            </li>

            <li class="nav-item">
                <a href="https://platform.openai.com/account/api-keys" class="nav-link p-0"><button type="button"
                        class="btn btn-outline-light-gray font-inter fw-normal">Get API Key</button></a>
            </li>
        </ul>
    </header>
</div>